<x-element>

    <style>
        ul {margin:0; padding:0}
        li {display:inline}
        li + li:before {content: " / ";}
    </style>

    <template>
        <nav>
            <ul>
                <li x-for="item in state.breadcrumb">
                    <a x-attr:href="item.href">{{ item.label }}</a>
                </li>
                <li>
                    {{ state.label }}
                </li>
            </ul>
        </nav>    
    </template>

    <script type="module">
        import xshell from "../../../x-shell.js";

        // class
        export default {
            state: {
                breadcrumb: [],
                label: ""
            },
            onLoad() { 
                let page = xshell.getPage(this);
                if (page) {
                    page.addEventListener("page:load", () => {
                        this.refresh();
                    });
                    page.addEventListener("page:change", () => {
                        this.refresh();
                    });
                }
            },
            refresh() {
                let page = xshell.getPage(this);
                if (page) {
                    let breadcrumb = [];
                    for (let item of page.breadcrumb) {
                        item.href = xshell.getRealUrl(item.href);
                        breadcrumb.push(item);
                    }
                    this.state.breadcrumb = breadcrumb;
                    this.state.label = page.label;
                }
            }
        }
    </script>
</x-element>
